# Service Configuration
SERVICE_NAME=wedding-core
SERVICE_PORT=8000
DEBUG=True

# Auth Service Configuration
AUTH_SERVICE_URL=hi
AUTH_SERVICE_TIMEOUT=10
AUTH_SERVICE_TOKEN=hi
AUTH_SERVICE_TOKEN_PREFIX=hi
AUTH_SERVICE_TOKEN_HEADER=hi

# JWT Configuration (for validating tokens from Auth-service)
JWT_SECRET_KEY=hi
JWT_ALGORITHM=hi
JWT_TOKEN_EXPIRE_MINUTES=30

# Database Configuration
DATABASE_URL=hi
DB_HOST=hi
DB_PORT=hi
DB_NAME=hi
DB_USER=hi
DB_PASSWORD=hi
    
    
SHARED_CONTEXT_SECRET=hi
    
# AWS S3 Configuration
AWS_ACCESS_KEY_ID= hi
AWS_SECRET_ACCESS_KEY= hi
AWS_REGION=hi
S3_BUCKET_NAME=hi
S3_PRESIGNED_URL_EXPIRY=300